[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"PySocks" = "*"
pyinstaller = "*"

[packages]
junos-eznc = "*" # "==2.2.1"
PyYAML= "*"
tornado= "*"
arubaos_client= "*"
unifi_client= "*"
prometheus_client= "*"
fqdn= "*"
voluptuous = "*"
cached-property = "*"
importlib-resources = "*"

[requires]
python_version = "3.7"
