[Unit]
Description=Junos Prometheus Exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/prometheus-junos-exporter
Restart=always
Type=simple
StandardError=syslog
NotifyAccess=all
User=prometheus
Group=prometheus

[Install]
WantedBy=multi-user.target