---
METRICS:
  Gauge:
    - metric: uptime
      key: uptime
      description: Uptime of the host.
      type: seconds

    - metric: fan
      type: status
      key: Fans
      description: Fan STATUS (0(WRACKED)/1(OK))
      function: fan_power_temp_status
      complex: yes
    
    - metric: power
      type: status
      key: Power
      description: Power STATUS (0(WRACKED)/1(OK))
      function: fan_power_temp_status
      complex: yes

    - metric: temp
      type: status
      key: Temp
      description: Temperature Sensor STATUS (0(WRACKED)/1(OK))
      function: fan_power_temp_status
      complex: yes

    - metric: temp
      type: celsius
      key: Temp
      description: Temperature Sensor Value in celsius
      function: temp_celsius
      complex: yes

    - metric: reboot
      type: status
      key: re_loads
      description: Last Reboot REASON (0(WRACKED)/1(OK))
      function: reboot
      complex: yes
    
    - metric: cpu_usage
      type: ratio
      key: re_loads
      description: Current CPU Load Ratio in percent
      function: cpu_usage
      complex: yes
    
    - metric: cpu_idle
      type: ratio
      key: re_loads
      description: Current CPU Idle Ratio in percent
      function: cpu_idle
      complex: yes

    - metric: ram
      type: bytes
      key: re_loads
      description: Current Memory Usage in bytes
      function: ram_usage
      complex: yes

    - metric: ram
      type: bytes_total
      key: re_loads
      description: Available Memory in bytes
      function: ram
      complex: yes

  Info:
    - metric: software_version
      key: version
      description: The Software Version of the current Switch OS

    - metric: hardware_model
      key: model
      description: The Hardware Model of the manufacturer
