---
METRICS:
  Gauge:
    - metric: last_flapped
      key: flapped
      type: seconds
      description: Port Date (Unix TimeStamp) for last flap

    - metric: is_running
      key: running
      description: Port is_up (0(DOWN)/1(UP))
      function: is_ok

    - metric: is_operational
      key: oper
      description: Port oper (0(DOWN)/1(UP))
      function: is_ok

    - metric: is_admin
      key: admin
      description: Port admin (0(DOWN)/1(UP))
      function: is_ok

    - metric: is_enabled
      key: present
      description: Port is_enabled (0(DOWN)/1(UP))
      function: is_ok

  # Optic Specific


  Counter:
    - metric: received
      key: rx_bytes
      description: Total received Bytes by Port
      type: bytes_total

    - metric: transmitted
      key: tx_bytes
      description: Total transmitted Bytes of Port
      type: bytes_total

  ## Error Counters
    - metric: transmit_error_output
      type: total
      key: output_errors
      description: Errors in transmitted packets

    - metric: transmit_drops_output
      type: total
      key: output_drops
      description: Drops in transmitted packets

    - metric: receive_error_input
      type: total
      key: input_errors
      description: Errors in received packets

    - metric: receive_drops_input
      type: total
      key: input_drops
      description: Drops in transmitted packets

LABELS:
  - label: description
    key: description

  - label: MAC
    key: macaddr

  - label: speed
    key: speed

  - label: interface
    key: interface_name