# Tables locate the data you want
BGPNeighborTable:
  rpc: get-bgp-summary-information # This is the NETCONF RPC command sent to the router
  item: bgp-peer # Tag of information you want
  key: peer-address # Unique identifier _within_ that tag
  view: BGPNeighborView # View name (in this file) to apply to this information

# Views tell PyEZ how to then display that data to you
BGPNeighborView:

  # Key/values pairs. 
  # Key is the name of the variable you want to "register" with PyEZ
  # Value is the location of data within the above defined table for that variable
  fields:
    peeraddr: peer-address
    description: description
    elapsed_time: { elapsed-time/@seconds: int }
    peerstate: { peer-state: True=Established }
    pfx_rx: { bgp-rib/received-prefix-count: int }
    pfx_rx_accepted: { bgp-rib/accepted-prefix-count: int }
